@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');

@layer components {
  .btn-primary {
    @apply px-5 py-1 bg-primary rounded-2xl shadow-none hover:shadow-glow hover:shadow-primary transition-shadow duration-500;
  }
  .section {
    @apply w-full bg-secondary flex px-[6vw] flex-col
  }
  .stateful {
    @apply active:bg-[#3bc8e7a1] transition-colors hover:bg-[#3bc7e7d0]
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass','Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: white;
  background-color: #3bc7e7;
}
input, select{
  transition: box-shadow 300ms ease;
}
input:focus, select:focus {
  outline:2px solid #3bc7e7;
  box-shadow: 0px 0px 10px #ffffff;
}

input[type="range"]:focus {
  outline: none;
  box-shadow: none;
}

.logo {
  filter: drop-shadow(0px 0px 10px #3bc7e788);
}

/* * {
  outline: 1px solid green;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 768px) {
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*:focus {
    outline: none !important;
}
}